{% extends "base.html" %}

{% block content %}

    <form action="">

        <label for="registerCorreo">Ingrese su Correo: </label>
        <input type="text" name="registerCorreo" id="registerCorreo" placeholder="Correo">
        <label for="registerContraseña">Cree una Contraseña</label>
        <input type="password" name="registerContraseña" id="registerContraseña" placeholder="Contraseña">
        <label for="contraseña">Confirme su Contraseña</label>
        <input type="password" name="contraseña" id="contraseña" placeholder="Confirme su Contraseña">
        <button>Submit</button>
    </form>
{% endblock content %}